
.holder{
	display:flex;
	justify-content:center;
	align-item:center;
	flex-wrap:wrap;
	font-size:40px;
}
.item-3{
	height:90px;
	width:90px;	
	background-color:green;
}
.item-1{
	height:90px;
	width:90px;	
	background-color:red;
}
.item-2{
	height:90px;
	width:90px;	
	background-color:blue;
}
.holder2{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	align-item:center;
}
.grid-item-1{
	background-color:red;
	height:90px;
	width:90px;
	font-size:40px;
}
.grid-item-2{
	background-color:blue;
	height:90px;
	width:90px;
	font-size:40px;
}
.grid-item{
	background-color:green;
	height:90px;
	width:90px;
	font-size:40px;	
}